$primary: #7031d3;
$white: #fff;
$light-gray: #f6f9fc;
$gray: #ecf1f5;
$dark-gray: #8898aa;
$black: #333;
$gradient: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
$nav-color: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
