.video-header {
    padding: 25px 0 20px 0;
    font-size: 24px;
}

.video-menu {
    h4 {
        font-size: 15px;
        font-weight: 900;
    }
}

.mobile-radios {
    padding: 0 0 0 15px;
    .btn {
        margin-bottom: 15px;
    }
}

.video-thumbnail {
    padding-bottom: 15px;
    img {
        width: 100%;
        &:hover {
            opacity: .8;
            cursor: pointer;
        }
    }
    h4 {
        font-size: 15px;
        margin: 5px 0 0 0;
        &:hover {
            opacity: .8;
            cursor: pointer;
        }
    }
    p {
        margin: 0;
        font-size: 13px;
        color: #546978;
        &:hover {
            opacity: .8;
            cursor: pointer;
        }
        img {
            border-radius: 200px;
            width: 15px;
            margin-top: -2px;
        }
    }
}

.modal-dialog {
    width: 100%;
    max-width: 1000px;
    height: auto;
    padding: 15px;
}

.modal-content {
    height: auto;
    min-height: 100%;
}